body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;       
    height: 600px;
    background: url('https://images.unsplash.com/photo-1614772241185-9641490f0ba6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80') bottom no-repeat;
    background-size: cover;    
}
li {
    list-style-type: none;
}

.news:nth-child(2n+1) {
    margin: 0 auto 32px;
    background-color: blue;
    width: 800px;
    padding: 6px 15px;
}

.news:nth-child(2n) {
    background-color: yellow;
    width: 800px;
    margin: 0 auto 32px;
    padding: 6px 15px;
}

.choise::after {
    content: " - NEW";
}

h1 {
    color: rgb(56, 61, 78);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 108, 105);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085d5;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}



footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #565658;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}